extends layout

block content
  h1= title
  p Welcome to to #{title}
  input#afile(type='file', name='afile')
  canvas#draw-canvas(width=1024, height=1657)
  canvas#poster-template(width=1024, height=1657)
  script(src='/socket.io/socket.io.js')

  script.
    let socket = io();
    socket.on('processingSpectro', (percent) => {
      console.log('spectroProcess: ', percent)
    })
    socket.on('finishedSpectro', (data) => {
      console.log('spetro fertig finishedSpectro (message von back to front)', data)
      drawSpectrum(data)
    })
    document.querySelector('#afile').addEventListener('change', function(e) {
      var file = this.files[0];
      var fd = new FormData();
      fd.append("afile", file);
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/upload', true);
      xhr.upload.onprogress = function(e) {
        if (e.lengthComputable) {
          var percentComplete = (e.loaded / e.total) * 100;
          console.log(percentComplete + '% uploaded');
        }
      };
      xhr.onload = function() {
        if (this.status == 200) {
          var resp = JSON.parse(this.response);
          console.log('Server got:', resp); 
          socket.emit('startSpectro', resp.wavFileId);
        };
      };
      xhr.send(fd);
    }, false);
    //- window.onload = function() {
    //-   drawSpectrum([[130,50,0], [0,90,130]]);
    //- }