doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/paper-full.min.js')
  body
    block content
    script(src='/javascripts/drawPaper.js')
