body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#poster-template {
  /* display: none; */
  /* background: #CCCCCC */
}

#afile{
  display: block;
}